body {
  font-family:      Verdana, Geneva, Arial, sans-serif;
  font-size:        medium;
  background-color: lightgrey;
  margin-top:       5%;
  margin-bottom:    5%;
  margin-left:      5%;
  margin-right:     5%;
  padding:          10px 10px 10px 10px;
  background-image: url("stats.webp");
  background-repeat: no-repeat;
  background-position: middle;
  background-attachment: fixed;
  background-size: 1920px 900px;
}
div.home_div {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
  }

  a {
    text-decoration:  none; 
    font-weight:      400; 
  }
  a:hover {
    text-decoration:  underline;
  }

h2 {
  font-size:        250%;
}
table {
  margin-left:      20px;
  margin-right:     20px;
  caption-side:     bottom;
  border-collapse:  collapse;
}
td, th {
  font-size:        120%;
  padding:          10px;
  text-align:       middle;
}


/*** Tables ***/

table {
font-size:          1em;
background-color:   rgb(240, 240, 240);
border:             1px solid #909090;
color:              black;
padding:            2px 2px 2px;
border-collapse:    collapse;
}

td, th {
border:             1px solid black;
}

